@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    bool canEdit = ViewBag.permission[3].Canedit;
    bool canDelete = ViewBag.permission[3].Candelete;
}
@model PizzaShop.Repository.ModelView.SectionsHelperViewModel

<div class="py-4 px-3 d-flex justify-content-between">
    <h3 class="text-blue">Sections / Tables</h3>
</div>

<div class="maincontent">
    <div class="formclass nav-home border rounded d-flex ">
        <aside class="rightsideborder sideBar border-right-primary rounded p-3">
            <div class="logoheader">
                <h4 class="text-primary d-flex justify-content-between align-items-center">
                    Sections
                    @if (canEdit)
                    {
                        <a id="AddSectionBtn" type="button" class="text-decoration-none bg-light px-1 border border-2 rounded border-primary">
                            <img src="~/images/icons/plus-solid.svg" alt="" class="" height="20px">
                        </a>
                    }
                </h4>
            </div>
            <ul>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    @if (Model.Sections != null && Model.Sections.Any())
                    {
                        <ul id="section-list">
                            @foreach (var s in Model.Sections)
                            {
                                <li class="nav-link links section-link d-flex justify-content-between align-items-center gap-2 @(ViewBag.SeclectedSectionId == s.Sectionid ? "active" : "")"
                                    id="v-pills-@s.Sectionid-tab-section" data-sectionid="@s.Sectionid"
                                    data-sectionname="@s.Sectionname" data-sectiondescription="@s.Sectiondescription">
                                    <a
                                        class="text-decoration-none @((ViewBag.SeclectedSectionId == s.Sectionid) ? "text-white" : "text-dark")">
                                        <i class="bi bi-grid-3x2-gap-fill me-2"></i>@s.Sectionname
                                    </a>
                                    <div class="activePens @(ViewBag.SeclectedSectionId == s.Sectionid ? "" : "d-none")">
                                        @if (canEdit)
                                        {
                                            <a href="#" class="text-primary edit-section-button" data-sectionid="@s.Sectionid"
                                                data-sectionname="@s.Sectionname" data-sectiondescription="@s.Sectiondescription">
                                                <i class="bi bi-pen mx-1"></i>
                                            </a>
                                        }
                                        @if (canDelete)
                                        {
                                            <a href="#" class="text-primary delete-section-btn" data-sectionid="@s.Sectionid">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        }
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <div class="d-flex align-items-center justify-content-center" id="no-sections">No Sections Found
                        </div>
                    }
                </div>
            </ul>
        </aside>

        <div class="p-3 w-100">
            <h5>Tables</h5>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="" role="tabpanel" aria-labelledby="v-pills-sandwich-tab"
                    tabindex="0">
                    <div class="d-flex justify-content-end">
                        <div class="position-relative bg-white border mx-2 border-1 rounded">
                            <input type="text" id="searchInput" placeholder="Search" class="search_bar">
                            <img src="~/images/search-icon.svg" width="20px" class="search_bar_img">
                        </div>
                        @if (canDelete)
                        {
                            <button class="btn btn-light border p-2 ms-2" id="deleteMultipleTablesBtn" disabled>
                                <i class="bi bi-trash"></i>
                            </button>
                        }
                        @if (canEdit)
                        {
                            <button id="TableAddModalID"
                                class="btn btn-primary text-decoration-none mx-2 d-flex justify-content-center align-items-center p-2 rounded text-white">
                                +<span class="spanClass text-white" id="buttonContent">New Table</span>
                            </button>
                        }
                    </div>
                    <div id="collapse5" class="tabularData">
                        @await Html.PartialAsync("_TablesPartial", Model)
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-end align-items-center d-lg-flex d-sm-flex gap-2">
                            <div class="d-flex align-items-center mb-2 mt-2">
                                <span>Items per page: &nbsp;</span>
                                <div class="dropdown">
                                    <button class="btn border dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false" id="itemsPerPageBtn4">5</button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item page-size-option page-size-option4" href="#"
                                                data-size="5">5</a></li>
                                        <li><a class="dropdown-item page-size-option page-size-option4" href="#"
                                                data-size="10">10</a></li>
                                        <li><a class="dropdown-item page-size-option page-size-option4" href="#"
                                                data-size="15">15</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-2 mt-2 gap-2">
                                <span id="pagination-info">Showing 1-@Math.Min(5, Model.TotalTables) of
                                    @Model.TotalTables</span>
                                <li class="page-item">
                                    <a class="page-link" id="prevPage4" href="#">
                                        < </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" id="nextPage4" href="#">></a>
                                </li>
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Section Modal -->
<div class="modal fade" id="SectionAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Section</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addSectionForm" method="post" asp-action="AddSection" asp-controller="Section">
                    <input type="hidden" asp-for="Userid" value="@ViewBag.UserId">
                    <div class="form-floating mb-3">
                        <input asp-for="Sectionname" type="text" class="form-control" id="floatingInput"
                            placeholder="name">
                        <label for="floatingInput">Name</label>
                        <span class="text-danger" asp-validation-for="Sectionname"></span>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" asp-for="Sectiondescription" placeholder="Leave a comment here"
                            id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Description</label>
                        <span class="text-danger" asp-validation-for="Sectiondescription"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn border-primary text-primary"
                            data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Table Add Modal -->
<div class="modal fade" id="TableAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Table</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addTableForm" method="post" asp-action="AddTable" asp-controller="Section">
                    <input type="hidden" asp-for="Userid" value="@ViewBag.UserId">
                    <div class="row mx-2">
                        <div class="col-6 form-floating mb-3">
                            <input asp-for="Tablename" type="text" class="form-control" id="floatingInput"
                                placeholder="name">
                            <label for="floatingInput" class="mx-2">Name</label>
                            <span class="text-danger" asp-validation-for="Tablename"></span>
                        </div>
                        <div class="col-6 form-floating mb-3">
                            <input type="hidden" asp-for="Sectionid" value="" id="sectionIdAtAddTable">
                            <input asp-for="SectionnameTableHelper" type="text" class="form-control"
                                id="sectionNameAtAddTable" placeholder="" disabled value="">
                            <label for="floatingSelect" class="mx-2">Select Section</label>
                        </div>
                    </div>
                    <div class="row mx-2">
                        <div class="col-6 form-floating mb-3">
                            <input asp-for="Capacity" type="text" class="form-control" id="floatingInput"
                                placeholder="capacity">
                            <label for="floatingInput" class="mx-2">Capacity</label>
                            <span class="text-danger" asp-validation-for="Capacity"></span>
                        </div>
                        <div class="col-6 form-floating mb-3">
                            <select tabindex="-1" style="pointer-events: none;" class="form-select bg-gray no-focus" asp-for="Status" id="floatingSelect" aria-label="Status">
                                <option value="1"  selected>Available</option>
                                
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                            <label for="floatingSelect" class="mx-2">Status</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn border-primary text-primary"
                            data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Section Modal -->
<div class="modal fade" id="editSectionModal" tabindex="-1" data-bs-backdrop="static"
    aria-labelledby="editCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Edit Section</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editSectionForm" method="post" asp-action="EditSection" asp-controller="Section">
                    <div class="form-floating mb-3 mx-3">
                        <input type="text" class="form-control" id="editSectionName" asp-for="Sectionname"
                            placeholder="Section Name">
                        <label>Section</label>
                        <span class="text-danger" asp-validation-for="Sectionname"></span>
                    </div>
                    <div class="form-floating mb-3 mx-3">
                        <textarea class="form-control" id="editSectionDescription" asp-for="Sectiondescription"
                            placeholder="Description" style="height: 100px; resize: none;"></textarea>
                        <label>Description</label>
                        <span class="text-danger" asp-validation-for="Sectiondescription"></span>
                    </div>
                    <input type="hidden" id="editSectionId" asp-for="Sectionid">
                    <input type="hidden" name="Userid" value="@ViewBag.UserId">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn border-primary text-primary"
                            data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Section Modal -->
<div class="modal fade" id="deleteSectionModal" tabindex="-1" data-bs-backdrop="static"
    aria-labelledby="deleteCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete Section</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                <img src="~/images/toppng.com-warning-icon-2400x2400.png" height="40px" width="40px">
                <div id="deleteCategoryText">Are you sure you want to delete this Section?</div>
            </div>
            <form id="deleteSectionForm" method="post" asp-action="DeleteSection" asp-controller="Section">
                <input type="hidden" id="deleteSectionId" name="Sectionid">
                <input type="hidden" name="Userid" value="@ViewBag.UserId">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn border-primary text-primary" data-bs-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Multiple Tables Modal -->
<div class="modal fade" id="deleteTablesModal" tabindex="-1" data-bs-backdrop="static"
    aria-labelledby="deleteCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete Tables</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                <img src="~/images/toppng.com-warning-icon-2400x2400.png" height="40px" width="40px">
                <div id="deleteCategoryText">Are you sure you want to delete Selected Tables?</div>
            </div>
            <form id="deleteTablesForm" method="post" asp-action="DeleteTables" asp-controller="Section">
                <input type="hidden" id="deleteSelectedTableIds" name="deleteSelectedTableIds">
                <input type="hidden" name="Userid" value="@ViewBag.UserId">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn border-primary text-primary" data-bs-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Delete Table Modal -->
<div class="modal fade" id="deleteTableModal" tabindex="-1" data-bs-backdrop="static"
    aria-labelledby="deleteCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete Table</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                <img src="~/images/toppng.com-warning-icon-2400x2400.png" height="40px" width="40px">
                <div id="deleteCategoryText">Are you sure you want to delete Selected Tables?</div>
            </div>
            <form id="deleteTableForm" method="post" asp-action="DeleteTable" asp-controller="Section">
                <input type="hidden" id="deleteTableId" name="Tableid">
                <input type="hidden" name="Userid" value="@ViewBag.UserId">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn border-primary text-primary" data-bs-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Edit Table Modal -->
<div class="modal fade" id="editTableModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Table</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editTableForm" method="post" asp-action="EditTable" asp-controller="Section">
                    <input type="hidden" asp-for="Userid" value="@ViewBag.UserId">
                    <input type="hidden" asp-for="Tableid" id="TableId" value="">
                    <div class="row mx-2">
                        <div class="col-6 form-floating mb-3">
                            <input asp-for="Tablename" type="text" class="form-control" id="Tablename"
                                placeholder="name" value="">
                            <label for="floatingInput" class="mx-2">Name</label>
                            <span class="text-danger" asp-validation-for="Tablename"></span>
                        </div>
                        <div class="col-6 form-floating mb-3">
                            <input type="hidden" asp-for="Sectionid" value="" id="sectionIdAtEditTable">
                            <input asp-for="SectionnameTableHelper" type="text" class="form-control"
                                id="sectionNameAtEditTable" placeholder="" disabled value="">
                            <label for="floatingSelect" class="mx-2">Select Section</label>
                        </div>
                    </div>
                    <div class="row mx-2">
                        <div class="col-6 form-floating mb-3">
                            <input asp-for="Capacity" type="text" class="form-control" id="Capacity"
                                placeholder="capacity" value="">
                            <label for="floatingInput" class="mx-2">Capacity</label>
                            <span class="text-danger" asp-validation-for="Capacity"></span>
                        </div>
                        <div class="col-6 form-floating mb-3">
                            <select style="pointer-events: none;" class="form-select bg-gray no-focus" asp-for="Status" id="Status" aria-label="Status">
                                <option value="1">Available</option>
                                <option value="2">Occupied</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                            <label for="floatingSelect" class="mx-2">Status</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn border-primary text-primary"
                            data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        window.TotalTables = @Model.TotalTables;
        window.canEdit = @Json.Serialize(ViewBag.permission[3].Canedit);
        window.canDelete = @Json.Serialize(ViewBag.permission[3].Candelete);
        toastr.options.closeButton = true;
        var successMessage = '@TempData["SectionSuccess"]';
        var errorMessage = '@TempData["SectionError"]';
        if (successMessage) {
            toastr.success(successMessage, 'Success', { timeOut: 3000 });
        }
        if (errorMessage) {
            toastr.error(errorMessage, 'Error', { timeOut: 3000 });
        }
    </script>
    <script src="~/js/Section_script.js"></script>
}
